[Unit]
Description=mySosh-ws
After=network.target

[Service]
ExecStart=python3 /opt/mySosh-ws/mySosh.py -s -D 900 -f /opt/mySosh-ws/mySosh-ws.log
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
IgnoreSIGPIPE=true
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target
